@layer entrega{

    .entrega{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 25px;
        border-radius: 25px;
        background-color: rgba(72, 72, 72, 0.075);
    }

    .form-entrega{
        width: 35%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
    }

    .info-cep{
        font-size: 0.7em;
        color: rgb(2, 2, 88);
        font-style: italic;
    }

    .dados-entrega{
        visibility:hidden ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cep-inputs{
        border-radius: 15px;
        border: 2px solid black;
        font-size: 1.2em;
        font-weight: bolder;
        text-align: center;
        padding: 10px;
    }

    #cep::placeholder{
        font-size: 0.7em;
    }

    .dados-entrega-inputs{
        border-radius: 15px;
        border: 2px solid black;
        font-size: 1.2em;
        font-weight: bolder;
        text-align: center;
        padding: 10px;
    }

    .inputs-posicao{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:15px;
    }


    .dados-entrega-validacao{
        background-color: #64748b2b;
    }

    .valor-frete{
        visibility: hidden;
    }
}

@layer pagamento{

    .metodos-pagamento{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }

    .metodos-pagamento-opcoes{
        width: 85%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-top: 10px;
        background-color: #021c410e;
        border: solid 1px black;
        border-radius: 25px;
    }
    .metodos-pagamento-opcoes:nth-last-child(1){
        margin-bottom: 20px;
    }
    .metodo{
        width: 250px;
        padding: 10px;
        background-color: aqua;
    }

    fieldset{
        border-radius: 20px;
        padding: 10px;
        border: solid 2px rgba(0, 0, 255, 0.109);
    }

  

.label-pagamamento{
        display: flex;
        width: 100%;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
    }
    
    /* Escondemos o radio original */
    input[type=radio] {
        display: none;
    }
    
    /* Usamos o pseudo-element :before para recriar o novo radio */
    .label-pagamamento:before {
        content: "";
        display: inline-block;
     
        width: 20px;
        height: 20px;
      
        border-radius:50%;
     
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: var(--cor-amarelo);
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    }
    
    /* CSS Responsavel por definir o estilo para radio Checkado */
    input[type=radio]:checked + label:before {
        content: "\2022";
        color: var(--cor-menu);
        font-size: 2.75em;
        text-align: center;
        line-height: 18px;
    }

    .metodo-escolhido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 95%;
        border-radius: 25px;
        margin-top: 15px;
        padding: 25px;
        background-color: var(--cor-amarelo);
    }

    .cartao-credito{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }

    .cartao-credito input{
        text-align: center;
        font-weight: bolder;
    }

    .cartao-extra-info{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-maior{
        width:100%;
        margin-top: 15px;
        padding: 5px;
        border-radius: 15px;
        border: solid 1px black;
    }

    .input-menor{
        width: 25%;
        margin-top: 15px;
        padding: 5px;
        border-radius: 15px;
        border: solid 1px black;
    }

    .input-menor::placeholder{
        text-align: center;
    }

    .pix-chave{
        width: 85%;
        overflow-wrap: break-word;
        text-align: center;
        line-height: 1.5em;
        padding: 15px;
    }

    .pix-btn{
        background-color: var(--cor-menu);
        color: var(--cor-amarelo);
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin-top: 10px;
        cursor: pointer;
        font-weight: bolder;
    }
    
}

@media screen and (max-width:600px){
    .entrega{
        flex-direction: column;
    }

    .form-entrega{
        width: 80%;
    }

    .inputs-posicao{
        flex-direction: column;
    }

    .metodos-pagamento{
        width: 125%;
    }

    .input-menor{
        width:38%;
    }

    .pagamento-entrega{
        font-size: 0.8em;
    }

    .resumo-da-compra{
        font-size: 0.8em;
    }

    .dados-entrega{
        display: none;
    }
}