/* RESET CSS */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    list-style: none;
    outline: none;
    font-family: var(--font-principal);
    scroll-behavior: smooth;
}


/* ROOT CSS */

:root{
    --font-principal: 'Rubik', sans-serif; 
    --font-secundaria: 'Montserrat', sans-serif;
    --cor-menu: #1A1A1A;
    --cor-amarelo: #FFCC00;
}

@layer estilo-geral{
    .container{
        width: 85%;
        margin: 0 auto;
    }

    button{
        cursor: pointer;
    }
}


@layer menu {
    header {
        background-color: var(--cor-menu);
        /* display: flex;
        justify-content: center; */
    }
    .logo{
        padding: 15px;
    }
    .menu-principal{
        display: flex;
        justify-content:space-between;
        align-items: center;
        position: sticky;
        cursor: pointer;
    }
    .menu li{
        display: block;
        float: left;
        margin-left: 25px !important;
        color: rgb(255, 255, 255);
        padding: 10px;
    }

    .menu ul{
        display: flex;
        justify-content: space-between;
    }

    .menu-mobile{
        display: none;
    }

    .menu-off-canvas{
        display: none;
    }


    .icone-carrinho{
        border-radius: 25px;
        background-color: red;
        padding: 5px;
        color: #FFF;
    }

    .btn-login {
        width: 125px;
        border: 0;
        font-family: var(--font-principal);
        background-color:var(--cor-amarelo);
        font-weight: bold;
        text-align: center;
        border-radius: 35px;
        margin-left: 50px !important;
        padding: 15px;
        color: #000;
        cursor: pointer;
    }
}

@layer modal {
    #modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        display: block;
        width: 450px;
        height: 175px;
        background-color: var(--cor-menu);
        font-size: 1.5em;
        border-radius: 25px;
    }

    .modal-open {
        filter: blur(5px);
        pointer-events: none;
    }


    .modal-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: var(--cor-amarelo);
        text-align: center;
        margin-top: 25px;
        padding: 25px;
    }

    #modal button {
        width: 100px;
        padding: 10px;
        margin-top: 15px;
        background-color: var(--cor-menu);
        color: var(--cor-amarelo);
        border: 1px solid var(--cor-amarelo);
        cursor: pointer;
    }

    #modal button:nth-child(2) {
        width: 100px;
        padding: 10px;
        margin-top: 15px;
        margin-left: 10px;
        background-color: var(--cor-amarelo);
        color: var(--cor-menu);
        border: 1px solid var(--cor-menu);     cursor: pointer;
        font-weight: bolder;
    }

}

@layer slider-banner-home{

    .slide{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .slide img{
        width: 100%;
    }

    .slider-banners{
        border-radius: 5px;
    }
    #btn-slider-prev,
    #btn-slider-next {
        color: inherit;
        border: none;
        background-color: inherit;
        cursor: pointer;
    }


    .slider-controls{
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }
    .banner-home-mobile{
        display: none;
    }
}


@layer home-coteudo{
    .categorias{
        margin-top: 50px;
    }
    .sub-categorias{
        width: 100%;
        min-height: 350px;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        padding: 25px;
    }

    .mini-banner{
        cursor: pointer;
    }

    .mini-banner:hover{
        scale: 1.1;
        transition: 1s;
        border-radius: 0px;
    }

    .mini-banner:not(:hover){
        scale: 1;
        transition: 1s;
        border-radius: 35px;
    }
}

@layer footer{
    footer{
        background-color: var(--cor-menu);
        width: 100%;
    }
    .footer-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cards-dev{
        width: 20%;
        min-height: 175px;
        padding: 25px;
        color: var(--cor-amarelo);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .cards-dev a {
        text-decoration: none;
        color: #0ea5e9;
    }
    .cards-dev li {
        list-style-type:none;
    }
    .cards-dev hr{
        width: 50%;
    }

    .cards-dev h4 {
     text-align: center;
    }
    .footer-end{
        bottom: 0;
        background-color:#000;
        text-align: center;
        font-size: 0.75em;
        line-height: 25px;
        padding: 25px;
        color: #FFF;
    }
}

@layer erro {
    .erro-center{
        text-align: center;
        width: 100%;
    }
}

/* novo push */

@layer mobile {

    @media screen and (max-width:600px){

        .container{
            width: 95%;
        }

        .logo{
            display: none;
        }
        @layer menu {
            .menu-principal{
               flex-direction: column;
               color: #FFF;
            }
            .menu{
                display: none;
            }
            .menu-mobile{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 5px;
            }

            .btn-menu{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                border: 0;
                font-family: var(--font-principal);
                background-color:var(--cor-amarelo);
                font-weight: bold;
                text-align: center;
                border-radius: 35px;
                padding: 9px;
                font-size: 0.75em;
                color: #000;
                cursor: pointer;
            }

            .logo-mobile{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
            }
            .carrinho-icone-mobile{
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
           }

           @layer menu-offcanvas{
            .menu-off-canvas{
                display: block;
                position: absolute;
                margin-left:-300px;  
                width:250px;
                height: 100vh;
                background-color:#050e13;
                transition: 1s;
                z-index: 9;
              }
              
              .menu-off-canvas ul a{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-decoration: none;
                color: var(--cor-amarelo);
              }

              .menu-off-canvas ul{
               padding-left: 0;
              }
              
              .close-menu{
                  display: block;
                  width: 100%;
                  height: 65px;
              }
              
              .close-menu span{
                float:right;
                width: 15px;
                height: 15px;
                padding:10px;
                background-color: rgba(100,100, 100, 0.2);
                border-radius:50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                margin-right: 15px;
                transition: 0.5s;
                cursor: pointer;
                z-index: 2;
              }
              
              .btn-login-mobile{
                width: 85px;
                text-align: center;
                margin-top: 25px;
                border: 0;
                font-family: var(--font-principal);
                background-color:var(--cor-amarelo);
                font-weight: bold;
                text-align: center;
                border-radius: 35px;
                padding: 9px;
                font-size: 0.75em;
                color: #000;
                cursor: pointer;
            }
              
              .item-menu{
                  width: 80%;
                  height:25px;
                  padding: 10px;
                  margin-top: 5px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  border-bottom: dashed 1px rgba(255, 238, 3, 0.295);
              }
              
              .item-menu:hover{
                  background-color: #4331a828;
                  cursor: pointer;
              }

              
              
           }

           @layer slider-banner-home {
            .slide{
                width: 100%;
                height: 250px;
                display: flex;
                flex-direction: column;
                overflow-x: hidden;
            }
        
            .slide img{
                width: 100%;
            }
        
            .slider-controls{
                width: 100%;
                height: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
            }
            .banner-home{
                display: none;
            }
            .banner-home-mobile{
                display: block;
            }
           }

        @layer conteudo-home{
            .sub-categorias {
                width: auto;
         }
        }

       @layer footer {
        .footer-top{
            flex-direction: column;
        }

        .cards-dev{
            width: 100%;
            min-height: 0;
            padding: 5px;
            display: block;
        }

        .cards-dev img{
            width: 100%;
        }
    }
}}