/* RESET CSS */
body{
    box-sizing: border-box;
    margin: 0;
            padding: 0;}


html{
    list-style: none;
    outline: none;
    font-family: var(--font-principal);
}


/* ROOT CSS */

:root{
    --font-principal: 'Rubik', sans-serif; 
    --font-secundaria: 'Montserrat', sans-serif;
    --cor-menu: #1A1A1A;
    --cor-amarelo: #FFCC00;
}

@layer estilo-geral{
    .container{
        width: 85%;
        margin: 0 auto;
    }

    button{
        cursor: pointer;
    }
}


@layer menu {
    header{
        background-color: var(--cor-menu);
        display: flex;
        justify-content: center;
    }
    .menu-principal{
        display: flex;
        justify-content:space-between;
        align-items: center;
        position: sticky;
        cursor: pointer;
    }
    .menu li{
        display: block;
        float: left;
        margin-left: 25px !important;
        color: rgb(255, 255, 255);
        padding: 10px;
    }

    .menu ul{
        display: flex;
        justify-content: space-between;
    }

    .icone-carrinho{
        border-radius: 25px;
        background-color: red;
        padding: 5px;
        color: #FFF;
    }

    .btn-login {
        width: 125px;
        border: 0;
        font-family: var(--font-principal);
        background-color:var(--cor-amarelo);
        font-weight: bold;
        text-align: center;
        border-radius: 35px;
        margin-left: 50px !important;
        padding: 15px;
        color: #000;
        cursor: pointer;
    }
}

@layer modal {
    #modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        display: block;
        width: 450px;
        height: 175px;
        background-color: var(--cor-menu);
        font-size: 1.5em;
        border-radius: 25px;
    }

    .modal-open {
        filter: blur(5px);
        pointer-events: none;
    }


    .modal-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: var(--cor-amarelo);
        text-align: center;
        margin-top: 25px;
        padding: 25px;
    }

    #modal button {
        width: 100px;
        padding: 10px;
        margin-top: 15px;
        background-color: var(--cor-menu);
        color: var(--cor-amarelo);
        border: 1px solid var(--cor-amarelo);
        cursor: pointer;
    }

    #modal button:nth-child(2) {
        width: 100px;
        padding: 10px;
        margin-top: 15px;
        margin-left: 10px;
        background-color: var(--cor-amarelo);
        color: var(--cor-menu);
        border: 1px solid var(--cor-menu);     cursor: pointer;
        font-weight: bolder;
    }

}

@layer slider-banner-home{

    .slide{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .slide img{
        width: 100%;
    }

    .slider-banners{
        border-radius: 5px;
    }
    #btn-slider-prev,
    #btn-slider-next {
        color: inherit;
        border: none;
        background-color: inherit;
        cursor: pointer;
    }


    .slider-controls{
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }
}


@layer home-coteudo{
    .sub-categorias{
        width: 100%;
        min-height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2px;
    }

    .sub-categorias img{
        border-radius: 15px;
    }
}

@layer footer{
    footer{
        background-color: var(--cor-menu);
        width: 100%;
    }
    .footer-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cards-dev{
        width: 20%;
        min-height: 175px;
        padding: 25px;
        color: var(--cor-amarelo);
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .cards-dev a {
        text-decoration: none;
        color: #0ea5e9;
    }
    .cards-dev li {
        list-style-type:none;
    }
    .cards-dev hr{
        width: 50%;
    }

    .cards-dev h4 {
     text-align: center;
    }
    .footer-end{
        bottom: 0;
        background-color:#000;
        text-align: center;
        font-size: 0.75em;
        line-height: 25px;
        padding: 25px;
        color: #FFF;
    }
}

@layer erro {
    .erro-center{
        text-align: center;
        width: 100%;
    }
}

@layer mobile {

    @media screen and (max-width:600px){

        @layer menu {
            .menu-principal{
               flex-direction: column;
               color: #FFF;
            }
           }

           @layer lider-banner-home {
            .slide{
                width: 100%;
                height: 250px;
                display: flex;
                flex-direction: column;
                overflow-x: hidden;
            }
        
            .slide img{
                width: 100%;
            }
        
            .slider-controls{
                width: 100%;
                height: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
            }
           }


       @layer footer {
        .footer-top{
            flex-direction: column;
        }

        .cards-dev{
            width: 100%;
            min-height: 0;
            padding: 5px;
        }
       }
    }
}

