@layer sobre-projeto{
    .sobre-projeto{
        padding: 25px;
        background-color: #cccccc7e;
        border-radius: 15px;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .sobre-projeto p{
        padding: 10px;
    }

    .perfil{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        text-align: center;
        gap: 25px;
    }
    .card-perfil{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color:  var(--cor-amarelo);
        border-radius: 35px;
        width: 20%;
        min-height: 525px;
        padding: 15px;
    }

    .card-perfil p{
        line-height: 1.5em;
        font-size: 0.85em;
    }

    .card-perfil img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .btn-linkedin{
        color: #FFF;
        width: 50%;
        background-color: #0e76a8;
        font-size: 1.2em;
        padding: 10px;
        border-radius: 15px;
        border: none;
        text-decoration: none;
    }

}

@media screen and (max-width:600px){
    .perfil{
        flex-direction: column;
    }

    .card-perfil{
        width: 85%;
    }
}